In [1]:
import pandas as pd

In [2]:
newzy = pd.read_csv('../FinalProject/newzy.csv', sep='|', index_col='doc_id')

/Users/matthewthomas/anaconda3/lib/python3.7/site-packages/numpy/lib/arraysetops.py:569: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

In [3]:
newzy.groupby('doc_source').count()

                     doc_title  doc_content  doc_date  doc_url
doc_source
Breitbart                10012        10011     10012    10012
CNN                      38011        36184     38011    38011
Daily Kos                12310        12307     12310    12310
Drudge Report            77063        77063     77063    77063
Fox                      83415        58077     83417    83417
Google News              64079        64079     64079    64078
Guardian                 12392        12392     12392    12392
NPR                      30755        24708     30755    30755
New York Times           21239        21145     21240    21240
Politico Magazine         3670         3324      3670     3670
PowerLine                 9730         9730      9730     9730
Real Clear Politics      40611        34967     40611    40611
Reuters                  18506        18506     18506    18506
UPI Latest               97830        97804     97830    97830
US News                 506364       506165    506364   506364

In [4]:
filters =  [ 'Politico Magazine']

In [5]:
newzy = newzy[newzy.doc_source.isin(filters)]

In [7]:
pd.options.display.max_rows
pd.set_option('display.max_colwidth', None)

In [7]:
newzy.head()

,doc_source,doc_title,doc_content,doc_date,doc_url
doc_id,,,,,
1542,Politico Magazine,Sex in the Senate,"On Jan. 1, 1943, Robert Gene Baker arrived in ...",11/19/2013,http://www.politico.com/magazine/story/2013/11...
1543,Politico Magazine,Why Does Barack Keep Making Weird Jokes About ...,Clinical psychologist Steven Berglas will put ...,11/19/2013,http://www.politico.com/magazine/story/2013/11...
1544,Politico Magazine,Free Mary Cheney!,When the House of Representatives voted to rep...,11/19/2013,http://www.politico.com/magazine/story/2013/11...
1545,Politico Magazine,34 Years of Getting to No with Iran,"This week, world powers and Iran may well be p...",11/19/2013,http://www.politico.com/magazine/story/2013/11...
1546,Politico Magazine,The Tea Party's Attack on Women's Rights,"Two week ago, about a third of women in Texas ...",11/19/2013,http://www.politico.com/magazine/story/2013/11...

In [10]:
newzy['doc_content'].str.len().describe()

count     3324.000000
mean       268.704272
std       1706.042635
min          7.000000
25%         82.000000
50%        106.000000
75%        134.000000
max      34783.000000
Name: doc_content, dtype: float64

In [8]:
newzy_filtered = newzy[newzy['doc_content'].str.len() > 1000]

In [9]:
len(newzy_filtered)

44